.small-card-header {
    display: flex;
    background-color: $white;
    width: 100%;
    margin-bottom: $padding-medium;
    padding: $padding-large;
    flex-direction: column;
    &.icon-lead{
        .icon-central-container{
            display: flex;
            justify-content: center;
            
            i{
                font-size: 3em;
                border-radius: 3em;
                color: $orange-base;
                margin-bottom: 7px;
                padding: 7px;
                border: solid 3px $orange-base;
            }
        }
        h2{
            margin-bottom: 7px;
        }
    }
}
.contact-cards-layout{
    display: flex;
    width: 100%;
    //border: solid 1px red;
    flex-direction: column;
    .page-small-cards {
        //border: solid 1px blue;

        .small-card{
            width: auto;
        }
    }
    .page-large-cards {
        //border: solid 1px blue;
        .small-card{
            width: 100%;
            margin: 0;
        }
    }
    .small-card{
        display: flex;
        flex-direction: column;
        height: auto;
        a{
            color: $black;
            text-decoration: none;
            &:hover{
                color: $orange-base;
            }
        }
        &__icon,&__title,&__content{
            height: auto;
            display: flex;
            flex: grow;
            justify-content: center;
            //border: solid 1px red;
        }
        &__icon{
            margin-bottom: 5px;
        }
        &__title{
            margin-bottom: 5px;
        }
        &__content{
            //margin-bottom: $padding-small;
        }
    }
}
.page-small-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.small-card {
    background-color: $white;
    flex-grow: 1;
    padding: $padding-large;
    width: 100%;
    margin: $padding-small;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &__icon,&__title{
        height: 50%;
        display: flex;
        justify-content: center;
    }
    &__icon{
        color: $orange-light;
		font-size: 2em;
        line-height: 0em;
        align-items: center;
    }
    &__title{
        //
    }
    @media #{$screen-medium} {
        width: 45%;

    }

    @media #{$screen-greater-than-medium} {
        width: 25%;
    }
}

.page-guide-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $padding-small;
    margin: 0;
    
}

.guide-card{
	background: $white;
	margin-bottom: $padding-small;
	&__header{
			//border: solid 1px red;
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			padding: $padding-small;
			color: $grey-base;
			text-align: left;
			font-size: 1.0em;
			cursor: pointer;
			transition: .25s;
			.header-icon{
					color: $orange-lighter;
					transition: .25s;
			}
			h4{
					padding-left: 5px;
					flex-grow: 1;
			}
			i{
					font-size: 1.3em;
			}
			.header-control-button{
					.fa-chevron-circle-up{
							display: none;
					}
			}
			&:hover{
					color: $black;
					.header-icon{
							color: $orange-base;
					}
			}
	}
	&__content{
			//border: solid 1px red;
			padding: $padding-small;
			display: none;
	}
	&.opened{
			.guide-card__header{
					color: $black;
					.header-icon{
							color: $orange-base;
					}
					.header-control-button{
							.fa-chevron-circle-down{
									display: none;
							}
							.fa-chevron-circle-up{
									display: inline-block;
							}
					}
			}
			.guide-card__content{
					display: block;
			}
	}
}

.project-category{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	margin: 0;
    list-style: none;
    text-decoration: none;
	&__card{
		background-color: $white;
        flex-grow: 1;
        width: 45%;
        margin: $padding-small;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        //
        box-shadow: 10px 5px 40px 20px darken($grey-lighter, 1%);
        transition: .25s;
        &:hover {
            box-shadow: 10px 5px 40px 20px darken($grey-lighter, 8%);
            cursor: pointer;
            .title {
                transform: translate(10px, 0);
            }
        }
        a{
            text-decoration: none;
        }
        
		.project-cover-img{
            display: block;
            height: 180px;
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
		}
		.title{
            padding: $padding-small;
            border: none;
            box-shadow: none;
            background-color:transparent;
            color: $blue-base;
            font-size: 1.0em;
            transition:.25s;
            i{
                padding-right:4px;
            }
        }
        @media #{$screen-medium} {
            width: 45%;
    
        }
    
        @media #{$screen-greater-than-medium} {
            width: 25%;
        }
	}
}


.project-category-cards-app{ 
    .card-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
        .card {
            // border: solid 1px red;
            flex-grow: 1;
            width: 100%;
            margin: $padding-small;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            text-decoration: none;
            color: #000;
            @media #{$screen-greater-than-small} {
                width: 45%;
            }
            @media #{$screen-greater-than-medium} {
                width: 25%;
            }
            box-shadow: 10px 5px 40px 20px darken($grey-lighter, 1%);
            transition: .25s;
            &:hover {
                box-shadow: 10px 5px 40px 20px darken($grey-lighter, 8%);
                cursor: pointer;
                .button-primary {
                    transform: translate(10px, 0);
                }
            }

            .card-header{
							margin: 0;
                height: 310px;
                width: 100%;
                padding: $padding-small;
                width:100%;
                background-size:cover;
                background-position: center center;
								background-repeat: no-repeat;
								background-blend-mode: darken;
								transition: 1s;
								//
								color:#fff;
								display: flex;
								flex-direction: column;
            }
            .card-header--title {
                text-transform: uppercase;
								margin: 0;
								padding: 0 5px;
								background: rgb(128, 171, 214); /* Fallback for older browsers without RGBA-support */
								background: rgba(128, 171, 214, 0.7);
								color: $blue-darker;
						}
						.card-header--middle {
							flex: 1;
						}
						.card-info{
							height: auto;
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
							.button-secondary{
								align-self: flex-end;
							}
							background: rgb(128, 171, 214); /* Fallback for older browsers without RGBA-support */
							background: rgba(128, 171, 214, 0);
							.info-content {
                font-size: 1.1em;
                line-height: 1.8;
							}
							.project-site {
									font-size: 0.9em;
									font-style: italic;
									i{
											color: $grey-base;
									}
							}
							transition: all .25s ease-in;
							.info-content,
							.project-site {
								opacity: 0;
								padding: $padding-small;
								transition: opacity .25s ease-in;
							}
							&.open{
								background: rgba(128, 171, 214, 0.7);
								.info-content,
								.project-site {
									opacity: 1;
								}
							}
						}
            .card-body {
                padding: $padding-small;
                background-color:#fff;
                width:100%;
                //height: 100%;
            }
            
            .button-primary {
                border: none;
                box-shadow: none;
                font-family: inherit;
                background-color:transparent;
                color: $blue-base;
                font-size: 1.2em;
                transition:.25s;
                
                i{
                    padding-right:4px;
                }
						}
						.button-secondary {
							border: none;
							box-shadow: none;
							font-family: inherit;
							background: rgb(128, 171, 214); /* Fallback for older browsers without RGBA-support */
							background: rgba(128, 171, 214, 0.7);
							color: $blue-darker;
							padding: 0.2em;
							font-size: 1.5em;
							border-radius: 2em;
							line-height: 0em;
							cursor: pointer;
						}
              
        }
        
    }
    
}

.director-cards{
    display:flex;
    flex-direction: column;
    .director{
        margin-bottom: $padding-small;
    }
    @media #{$screen-greater-than-small} {
        flex-direction: row;
        .director{
            margin-right: $padding-small;
        }
    }
}