@import './carousel.css';

.project-item-carousel{
  .carousel{
    .slide{
      background: $white;
    }
    .thumbs-wrapper{
      display: none;
      .thumbs{
        .thumb{
          &.selected,
          &:hover{
            border-color: $blue-base;
          }
        }
      }
      @media #{$screen-greater-than-small} {
        display: block;
      }
    }
  }
}

.project-item-info{
  .info--item{
    padding: 0.3em 0;
    .info--item_title{
      font-weight: bold;
      padding-right: 3px;
    }
  }
}

.client-testimonials{
  .intro{
    font-style: italic;
    font-size: 0.8em;
    margin-top:$padding-small;
    margin-bottom: $padding-small;
  }
  .testimonials-carousel{
    // display: flex;
    // flex-direction: row;
    // .client-testimonials-app{
    //   border: solid 1px red;
    //   flex-grow: 1;
    //   display: flex;
    // }
  }
  
  .carousel{
    .slide{
      background-color: transparent;
      .testimonial{
        .fas{
          color: $grey-dark;
        }
        .fa-quote-left{
          padding-right: 5px;
        }
        .fa-quote-right{
          padding-left: 5px;
        }
      }
      .client{
        font-style: italic;
        font-size: 0.8em;
      }
    }
  }
}