
@import './variables.scss';
@import './page-header.scss';
@import './page-details.scss';
@import './cards.scss';
@import './footer.scss';


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: $blue-lighter;//$grey-light;
	font-size: 10px;
	color: $grey-darkest;
}
.text-center {
	text-align: center;
}
.page-header{
	padding: 0 $padding-large;
}
.page-items{
	padding: 0 $padding-small;
	clear: both;
	font-size: 1.3em;
	margin: 0 auto;
}
.scroll-up {
 	display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $plan-arch-blue; /* Set a background color */
  color:$white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

.no-data-msg{
	display: flex;
	min-height: 250px;
}
.planarch-map{
	height:400px;
}
.twitter-wrapper{
	background-color: $white;
	padding: 3em;
	font-size: 5px;
	border: solid 1px red;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
@media #{$screen-medium} {
	.page-items{
		padding: 0 $padding-large;
	}
}
@media #{$screen-large} {
	.page-header,
	.page-hero,
	.page-items{
		padding: 0 4em;
	}
}
@media #{$screen-xlarge} {
	.page-header,
	.page-hero,
	.page-items{
		padding: 0 $padding-large;
	}
	.navbar, .page-hero{
			width: 950px;
			margin: 0 auto;
	}
	.page-items{
		padding: 0 $padding-large;
		width: 950px;
	}
}