
.page-details{
	background-color: rgba(255, 255, 255, 0.3) ;
	margin-bottom: $padding-large;
}
.page-details-tabs{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	height: 60px;
}
.page-details-tabs li{
	background-color:$white;
	padding: $padding-small $padding-large;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.page-details-title-icon{
	margin-right: $padding-small;
	width:2.5em;
	height:2.5em;
}
.page-details-content{
	background-color:$white;
	padding: $padding-small $padding-large;
}
.page-details-content-block{
	padding: .2em;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-bottom: 0.2em;
	&__icon{
		padding: 0.2em;
		background-image: linear-gradient(250deg, $blue-lighter 50%, $blue-light 100%);
		color: $grey-lightest;
		font-size: 5em;
		line-height: 0em;
		display: flex;
		align-items: center;
	}
	&__text{
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}
	&.left{
		.page-details-content-block__icon{
			margin-right: 0.2em;
		}
	}
	&.right{
		.page-details-content-block__icon{
			margin-left: 0.2em;
			
		}
	}
}
