.page-hero{
    flex-grow: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 6;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    pointer-events: none;
}
.slider-text-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
}
.slider-text-inner h1{
    font-size: 3em;
    @media #{$screen-greater-than-small} {
        font-size: 5em;
    }
}
.slider-text-inner h2{
    font-size: 1.6em;
    @media #{$screen-greater-than-small} {
        font-size: 2em;
    }
}
.page-hero.set-back{
    opacity: 0.05;
}
