$pageHeaderHeight: 500px;
$pageHeaderSmallHeight: 350px;

@mixin add-header-bg($bgImgURL:'../img/bg_1.jpg', $height:$pageHeaderHeight) {
    content: "";
    background: url($bgImgURL) no-repeat center center fixed;
    background-color: $blue-lighter;
    background-blend-mode: soft-light;
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: $height;
    position: absolute;
    z-index: -1;
}

.page-header {
    height: $pageHeaderHeight;
    display: flex;
    flex-direction: column;
    z-index: 0;
    // set default background image
    &::after {
        @include add-header-bg($height:$pageHeaderHeight);
    }
}
.small-header{
    height: $pageHeaderSmallHeight;
    // set default background image
    &::after {
        @include add-header-bg($height:$pageHeaderSmallHeight);
    }
}
// set default background image
// .page-header::after {
//     @include add-header-bg;
// }
// set set page specific background images based on the current path embedded into the .page-header as a data attribute
.page-header[data-currentpath="projects"]::after{
    @include add-header-bg($bgImgURL:'../img/bg_2.jpg', $height:$pageHeaderSmallHeight);
}
.page-header[data-currentpath="projects-category"]::after{
    @include add-header-bg($bgImgURL:'../img/bg_2.jpg', $height:$pageHeaderSmallHeight);
}
.page-header[data-currentpath="project-item"]::after{
    @include add-header-bg($bgImgURL:'../img/bg_2.jpg', $height:$pageHeaderSmallHeight);
}
.page-header[data-currentpath="about"]::after{
    @include add-header-bg($bgImgURL:'../img/bg_3.jpg', $height:$pageHeaderSmallHeight);
}
.page-header[data-currentpath="guide"]::after{
    @include add-header-bg($bgImgURL:'../img/bg_4.jpg', $height:$pageHeaderSmallHeight);
}
.page-header[data-currentpath="contact"]::after{
    @include add-header-bg($bgImgURL:'../img/bg_5.jpg', $height:$pageHeaderSmallHeight);
}

@import './navigation.scss';
@import './page-hero.scss';