$pageHeaderHeight: 500px;
$pageHeaderSmallHeight: 350px;

@mixin add-header-bg($bgImgURL:'../img/header_bg_1.jpg', $height:$pageHeaderHeight) {
    content: "";
    background: url($bgImgURL) no-repeat;
    background-color: $blue-lighter;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: $height;
    position: absolute;
    z-index: -1;
}

.page-header {
    height: $pageHeaderHeight;
    display: flex;
    flex-direction: column;
    z-index: 0;
    // set default background image
    &::after {
        @include add-header-bg($height:$pageHeaderHeight);
    }
}
.small-header{
    height: $pageHeaderSmallHeight;
    // set default background image
    &::after {
        @include add-header-bg($height:$pageHeaderSmallHeight);
    }
}
// set default background image
// .page-header::after {
//     @include add-header-bg;
// }
// set set page specific background images based on the current path embedded into the .page-header as a data attribute
.page-header[data-currentpath="projects"]::after{
    @include add-header-bg($bgImgURL:'../img/header_bg_7.jpg', $height:$pageHeaderSmallHeight);
}
// .page-header[data-currentpath="projects-category"]::after{
//     @include add-header-bg($bgImgURL:'../img/header_bg_7.jpg', $height:$pageHeaderSmallHeight);
// }
// .page-header[data-currentpath="project-item"]::after{
//     @include add-header-bg($bgImgURL:'../img/header_bg_7.jpg', $height:$pageHeaderSmallHeight);
// }
.page-header[data-currentpath="about"]::after{
    @include add-header-bg($bgImgURL:'../img/header_bg_3.jpg', $height:$pageHeaderSmallHeight);
}
.page-header[data-currentpath="guide"]::after{
    @include add-header-bg($bgImgURL:'../img/header_bg_4.jpg', $height:$pageHeaderSmallHeight);
}
.page-header[data-currentpath="contact"]::after{
    @include add-header-bg($bgImgURL:'../img/header_bg_6.jpg', $height:$pageHeaderSmallHeight);
}

//data-currentcategory
.page-header{
	&[data-currentpath="projects-category"],
	&[data-currentpath="project-item"]
	{
		&[data-currentcategory="commercial"]::after{
			@include add-header-bg($bgImgURL:'../project-imgs/commercial/1292/1292 photo 1-min.JPG', $height:$pageHeaderSmallHeight);
		}
		&[data-currentcategory="conversions"]::after{
			@include add-header-bg($bgImgURL:'../project-imgs/conversions/P101/P101-01.JPG', $height:$pageHeaderSmallHeight);
		}
		&[data-currentcategory="residential-development"]::after{
			@include add-header-bg($bgImgURL:'../project-imgs/residential-development/1028/1028-3.JPG', $height:$pageHeaderSmallHeight);
		}
		&[data-currentcategory="bespoke-dwellings"]::after{
			@include add-header-bg($bgImgURL:'../img/header_bg_6.jpg', $height:$pageHeaderSmallHeight);
		}
		&[data-currentcategory="extensions"]::after{
			@include add-header-bg($bgImgURL:'../project-imgs/extensions/P075/P075-02.JPG', $height:$pageHeaderSmallHeight);
		}
		&[data-currentcategory="community-education"]::after{
			@include add-header-bg($bgImgURL:'../project-imgs/community-education/1600/1600-2.JPG', $height:$pageHeaderSmallHeight);
		}
		&[data-currentcategory="speculative"]::after{
			@include add-header-bg($bgImgURL:'../project-imgs/speculative/P028/P028 - 05.jpg', $height:$pageHeaderSmallHeight);
		}
	}
}
@import './navigation.scss';
@import './page-hero.scss';