
$plan-arch-blue: #80ABD6;
$blue-lightest: #EFF8FF;
$blue-lighter: #BCDEFA;
$blue-light: #6CB2EB;
$blue-base: #3490DC;
$blue-dark: #2779BD;
$blue-darker: #1C3D5A;
$blue-darkest: #12283A;

$orange-lighter: #FCD9B6;
$orange-light: #FAAD63;
$orange-base: #F6993F;

$white: #FFFFFF;
$grey-lightest: #F8FAFC;
$grey-lighter: #F1F5F8;
$grey-light: #DAE1E7;
$grey-base: #B8C2CC;
$grey-dark: #8795A1;
$grey-darker: #606F7B;
$grey-darkest: #3D4852;
$black :#22292F;

$padding-small:1em;
$padding-medium:1.5em;
$padding-large:2em;

/*scrren width variables*/
$screen-small-max-width: 576;
$screen-medium-min-width: $screen-small-max-width + 1;
$screen-medium-max-width: 768;
$screen-large-min-width: $screen-medium-max-width + 1;
$screen-large-max-width: 999;
$screen-xlarge-min-width: $screen-large-max-width + 1;
/*media query threshold variables*/
$screen-small:'only screen and (max-width: ' + $screen-small-max-width + 'px)';
$screen-medium:'only screen and (min-width: ' + $screen-medium-min-width + 'px) and (max-width: ' + $screen-medium-max-width + 'px)';
$screen-large:'only screen and (min-width: ' + $screen-large-min-width + 'px)';
$screen-xlarge:'only screen and (min-width: ' + $screen-xlarge-min-width + 'px)';
$screen-greater-than-small:'only screen and (min-width: ' + $screen-medium-min-width + 'px)';
$screen-greater-than-medium:'only screen and (min-width: ' + $screen-large-min-width + 'px)';
$screen-less-than-large:'only screen and (max-width: ' + $screen-medium-max-width + 'px)';

:export {
  screenSmallMaxWidth: $screen-small-max-width;
  screenMediumMinWidth: $screen-medium-min-width;
  screenMediumMaxWidth: $screen-medium-max-width;
  screenLargeMinWidth: $screen-large-min-width;
  screenLargeMaxWidth: $screen-large-max-width;
  screenXLargeMinWidth: $screen-xlarge-min-width;
}