//- about.pug
extends layout


block content
	<section class="page-header" id="js-page-header">
	- var currentPath = 'about';
		include nav
		<div class="page-hero" id="js-pagehero">
			<div class="slider-text-inner text-center">
				<h1>About PlanArch Design</h1>
				<h2>Architectural and Town Planning Consultance</h2>
			</div>
		</div>
	</section>

	<section class="page-items">
		<div class="page-details">
			p Yo, about
		</div>
	</section>
