bottomContent
	section.bottom-content-items
			div.bottom-content-details
				ul.bottom-content-details-tabs
					li
						img(src="./img/arb_black.jpg", title="Architects Registration Board", alt="Architects Registration Board")
					li
						img(src="./img/CIAT.jpg", title="The Chartered Institute of Architectural Technologists (CIAT)", alt="The Chartered Institute of Architectural Technologists")
					li
						img(src="./img/RTPI-CTP-Logo-Screen.jpg", title="Royal Town Planning Institute", alt="Royal Town Planning Institute")
				

