//- about.pug
extends layout

block content
	- var currentPath = 'contact';
	section(class="page-header small-header", id="js-page-header", data-currentpath=`${currentPath}`)
		include nav
		div.page-hero#js-pagehero
			div(class="slider-text-inner text-center")
				h1 Say Hello

	section.page-items
		div.page-details
			ul.page-details-tabs
				li
					h2 Contact Details
			div.page-details-content
				p We are located in the heart of Bishop Aukland, County Durham. Please feel free to contact us for your free 1 hours, no obligation consultation meeting.

			div.contact-cards-layout
				div.page-small-cards
					div(class="small-card text-center")
						div.small-card__icon
							i(class="fas fa-phone")
						a(href="tel:+441388608166" title="Call PlanArchDesign")
							h4.small-card__title Phone
							p.small-card__content (01388) 608166
					
					div(class="small-card text-center")
						div.small-card__icon
							i(class="fas fa-fax")
						h4.small-card__title Fax
						p.small-card__content (01388) 608168

					div(class="small-card text-center")
						div.small-card__icon
							i(class="fas fa-at")
						a(href="mailto:e-mail@planarchdesign.co.uk" title="Email PlanArchDesign")
							h4.small-card__title Email
							p.small-card__content e-mail@planarchdesign.co.uk

				div.page-large-cards
					div(class="small-card text-center")
						div.small-card__icon
							i(class="fas fa-map-marker-alt")
						h4.small-card__title PlanArch Design Ltd
						div.small-card__content 
							p Kingsway Court,<br />54 Kingsway<br />Bishop Auckland,<br /> Co.Durham,<br />DL14 7JF
				
			div.page-details-content
				div(class="planarch-map" id="js-planarch-map")

block scripts
	script(src=`https://maps.googleapis.com/maps/api/js?key=${'AIzaSyCYVJ2nF6ZH3WqvKHsKmsACvi5J5lVo4Kk'}&libraries=places`)