<footer class="page-footer" id="js-page-footer">
  <div class="footer-top">
    <div class="social-media">
      <ul>
        <li>
          <a href="#" class="social-link">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#" class="social-link">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
  <div class="footer-main">
    <div class="content">
      <address class="contact-details">
        <div class='postal-address'>PlanArch Design Ltd<br />Kingsway Court<br />54 Kingsway<br />Bishop Auckland<br />Co.Durham<br />DL14 7JF
        </div>
        <div class='contact'>
          <ul>
            <li>
              <a href="#" class="contact-link">
                <i class="fas fa-phone"></i>
                Call
                <span>(01388) 608166</span>
              </a>
            </li>
            <li>
              <div class="contact-link">
                <i class="fas fa-fax"></i>
                Fax
                <span>(01388) 608168</span>
              </div>
            </li>
            <li>
              <a href="#" class="contact-link">
                <i class="fas fa-at"></i>
                Email
                <span>e-mail@planarchdesign.co.uk</span>
              </a>
            </li>
          </ul>
        </div>
      </address>
    </div>
    <div class="copyright">
      <p>&copy; 2019 PlanArch Design<p>
    </div>
  </div>
  <div class="footer-logo">
    <img src="./img/planarch-design-logo.png" title="PlanArch Design" alt="PlanArch Design Logo" />
  </div>
</footer>