footer.page-footer#js-page-footer
  div.footer-top
    div.social-media
      ul
        li
          a(href="#" class="social-link")
            i(class="fab fa-facebook")
        li
          a(href="#" class="social-link")
            i(class="fab fa-twitter")
        li
          a(href="#" class="social-link")
            i(class="fab fa-linkedin")
  div.footer-main
    div.content
      address.contact-details
        div.postal-address PlanArch Design Ltd<br />Kingsway Court<br />54 Kingsway<br />Bishop Auckland<br />Co.Durham<br />DL14 7JF
        div.contact
          ul
            li 
              a(href="#" class="contact-link")
                i(class="fas fa-phone")
                span (01388) 608166
            li
              div(class="contact-link")
                i(class="fas fa-fax")
                span (01388) 608168
            li
              a(href="#" class="contact-link")
                i(class="fas fa-at")
                span e-mail@planarchdesign.co.uk
  div.footer-logo
    img(src="./img/planarch-design-logo.png" title="PlanArch Design" alt="PlanArch Design Logo")
  div.footer-bottom
    div.copyright
      p &copy; 2019 PlanArch Design