//- about.pug
extends layout

block content
	- var currentPath = 'guide';
	section(class="page-header small-header", id="js-page-header", data-currentpath=`${currentPath}`)
		include nav
		div.page-hero#js-pagehero
			div(class="slider-text-inner text-center")
				h1 Design to Delivery 
				h2 Planarch Design's tailor made service

	section.page-items
		div.page-details
			ul.page-details-tabs
				li
					h2 How we work
			div.page-details-content
				p We at Planarch Design Ltd pride ourselves on quality of service.  From design to delivery, your satisfaction is paramount to us. It is our goal to provide our clients with a service that guides you through the design, planning and development process as smoothly as possible.

			div.page-guide-cards
				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="far fa-question-circle")
						h4 What can I, as a client, expect from Planarch Design Ltd?
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p The process of development can be complex. At Planarch Design Ltd we are here to ensure that the process is handled as quickly and efficiently as possible in a personalised service to the client.

				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="far fa-question-circle")
						h4 How does the process work?
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p There is much to consider during the process from design to completion of a project. We have listed the basic points here:
				
				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="far fa-lightbulb")
						h4 Concept
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p You, as a client, will have an idea of what you hope to achieve from your development. To progress this, you may need the assistance of a professional practice.
				
				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="far fa-comments")
						h4 Contact
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p You contact us to arrange your free 1 hour consultation.  This can be on site, at our offices or at a location of your choice. We are flexible on this, but on many occasions a meeting on site is the most beneficial. 

				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="fas fa-user-friends")
						h4 Initial Consultation
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p When we meet with you to discuss your ideas, we will also consider and highlight any problems or pitfalls that may be apparent to us.  We should say that not all projects have potential problems, but as professionals it is important to us to make you aware your plans may encounter issues at a later stage.

				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="fas fa-pound-sign")
						h4 The Fee Quote
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p From this initial consultation, we will provide you with a fee quote for our services.  This is broken down into various stages and figures are shown for each.  We will discuss with you the level of service you may require and our fee quote will reflect that.  The quotation may seem complicated. This is not to confuse you but merely to show you, the client, what we, as a professional practice, will provide as a service so that there are no ‘hidden surprises’. We are always happy to discuss the content of our fee quotes should you wish to do so.

				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="fas fa-check")
						h4 Acceptance
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p Should you be happy with our fee quote we ask that it is signed and returned to us for progression to the design stage.

				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="fas fa-pencil-alt")
						h4 Design
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p This is where your idea begins to take shape.  We will work closely with you to produce a design that is acceptable to you and meets your ambitions and particular requirements.  While producing this design we will also advise you on planning matters that may affect your ideas.  Our experience with local authorities has given us a greater understanding of what is acceptable in different locations with different authorities.


				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="fas fa-project-diagram")
						h4 Planning
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p When we have reached a satisfactory design we will apply for planning approval on your behalf.  This includes completing all necessary forms, preparing any design and access statements or planning statements that may be required, and copies of all drawings required.  Our quotation does not include any fees payable to the local authority and we will ask you to provide us with a fee for the appropriate amount.  Occasionally reports by other specialist consultants may be required.  These can include for example expert input on protected species, trees and ground conditions.  We work closely with these consultants and can assist in  identifying them  or appointing on your behalf.  We will, of course, advise you on these requirements.  The planning process is usually an eight week period.  Unfortunately we cannot guarantee planning permission, but we will do all we can to achieve it.  When planning permission is obtained it can sometimes be subject to conditions, some of which may need to be addressed prior to construction.  We will resolve these matters on your behalf.  Please note that planning drawings are not normally sufficient for builders to provide a firm quotation. This can be achieved by the production of Building Regulation drawings.


				div.guide-card
					hdiv(class="guide-card__header")
						div(class="header-icon")
							i(class="fas fa-pencil-ruler")
						h4 Building Regulations
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p All construction in the United Kingdom is governed by the Building Regulations.  Once planning permission is achieved your plans will normally require building control approval.  We can provide Building Regulation drawings for your project if needed.  These will show your design in much greater detail, including a basic specification.  We will submit these to building control on your behalf for approval.  As with the planning submission, fees payable to the local authority are not included in our quotation.  Building control occasionally issue approval with conditions attached and we will endeavour to address these for you.  A structural engineer’s input may be required at this stage. Again we can appoint on your behalf if needed.

				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="far fa-question-circle")
						h4 To build or not to build?
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p Following building control approval and assuming any necessary planning conditions are discharged, you can legally start to build if you want to.  Our building regulation drawings are to a high degree of detail and specification for most builders to work from.  We can also provide working drawings if required (Normally these are not required for domestic projects but can be provided if needed)

				div.guide-card
					hdiv(class="guide-card__header")
						div(class="header-icon")
							i(class="far fa-address-book")
						h4 Tendering
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p Should a competitive tendering process be required, this can be undertaken on behalf of the client, including the resultant negotiations with a contractor, and the appointment to carry out the administration of the contract. 

				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="fas fa-user-tie")
						h4 Inspections
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p An additional service provided by our professional staff is site inspections.  This is normally required if a mortgage lender is involved.  We carry out regular site inspections at specific stages of construction to ensure that your design is being built in accordance with our drawings and current legislation.

				div.guide-card
					div(class="guide-card__header")
						div(class="header-icon")
							i(class="fas fa-certificate")
						h4 Certification
						div(class="header-control-button")
							i(class="fas fa-chevron-circle-down")
							i(class="fas fa-chevron-circle-up")
					div(class="guide-card__content")
						p Once work is complete, all inspections are carried out and all minor defects rectified. We can issue an indemnity backed certificate for your mortgage provider.  

			div.page-details-content
				p As you may now appreciate, the process from idea to design to completion is a  complex path.  We at Planarch Design Ltd are here to help; we will guide you through the process with as little fuss as possible.