//- index.pug
extends layout



block content
	<section class="page-header" id="js-page-header">
	- var currentPath = 'index';
		include nav
		<div class="page-hero" id="js-pagehero">
			<div class="slider-text-inner text-center">
				h1 We Design Your Future
				h2 Architectural and Town Planning Consultance
			</div>
		</div>
	</section>

	<section class="page-items">
		<div class="page-details">
			<ul class="page-details-tabs">
				<li>
					<h2>Planning & Design</h2>
				</li>
			</ul>
			<div class="page-details-content">
				<p>The business provides consultancy in Town Planning and in Architecture, with the intention being that clients can be offered a seamless service through all phases of a project, from conception to completion, or if preferred, more individual areas of service can be provided tailored to clients’ specific requirements.</p>
				<div class="page-details-content-block left">
					<div class="page-details-content-block__icon">
						<i class="fas fa-pen-square"></i>
					</div>
					<div class="page-details-content-block__text">
						<p>This may be purely town planning advice regarding clients’ issues or negotiations with local planning authorities; an appeal against a refusal of planning permission; or seeking to make an existing use lawful.</p>
					</div>
				</div>
				<div class="page-details-content-block right">
					<div class="page-details-content-block__text">
						<p>It may be simply advice on the best use of an area of land or a building. Or it could be advice requiring solely architectural input on a matter of design, accommodation provision or refurbishment / restoration.</p>
					</div>
					<div class="page-details-content-block__icon">
						<i class="fas fa-comments"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="small-card-header text-center">
			h2 PlanArch Design Services
			p Whatever level of service is required, we seek to provide it at on a personalised basis and with whatever level of involvement in the project the client wishes to have. The specific services we can offer are;
		</div>
		<div class="page-small-cards">
			<div class="small-card text-center">
				<div class="small-card__icon">
					<i class="fas fa-award"></i>
				</div>
				<h4 class="small-card__title">Award Winning Architectural Design Team</h4>
			</div>
			<div class="small-card text-center">
				<div class="small-card__icon">
					<i class="fas fa-city"></i>
				</div>
				<h4 class="small-card__title">Expert Town Planners</h4>
			</div>
			<div class="small-card text-center">
				<div class="small-card__icon">
					<i class="fas fa-building"></i>
				</div>
				<h4 class="small-card__title">Accredited Energy Assessors for New Build Dwellings</h4>
			</div>
			<div class="small-card text-center">
				<div class="small-card__icon">
					<i class="fas fa-pencil-alt"></i>
				</div>
				<h4 class="small-card__title">Interior Architectural Design</h4>
			</div>
			<div class="small-card text-center">
				<div class="small-card__icon">
					<i class="fas fa-desktop"></i>
				</div>
				<h4 class="small-card__title">Computer Generated Imagery</h4>
			</div>
			<div class="small-card text-center">
				<div class="small-card__icon">
					<i class="fas fa-poll"></i>
				</div>
				<h4 class="small-card__title">Topographical Surveys</h4>
			</div>
		</div>
	</section>
