//- index.pug
extends layout

block content
	- var currentPath = 'index';
	section.page-header#js-page-header(data-currentpath=`${currentPath}`)
		include nav
		div.page-hero#js-pagehero
			div(class="slider-text-inner text-center")
				h1 We Design Your Future
				h2 Architectural and Town Planning Consultants
	
	section.page-items
		div.page-details
			ul.page-details-tabs
				li
					h2 Planning &amp; Design
			div.page-details-content
				p The business provides consultancy in Town Planning and in Architecture, with the intention being that clients can be offered a seamless service through all phases of a project, from conception to completion, or if preferred, more individual areas of service can be provided tailored to clients’ specific requirements.
				div(class="page-details-content-block left")
					div(class="page-details-content-block__icon")
						i(class="fas fa-pen-square")
					div(class="page-details-content-block__text")
						p This may be purely town planning advice regarding clients’ issues or negotiations with local planning authorities; an appeal against a refusal of planning permission; or seeking to make an existing use lawful.
				div(class="page-details-content-block right")
					div(class="page-details-content-block__text")
						p It may be simply advice on the best use of an area of land or a building. Or it could be advice requiring solely architectural input on a matter of design, accommodation provision or refurbishment / restoration.
					div(class="page-details-content-block__icon")
						i(class="fas fa-comments")
		div(class="small-card-header text-center")
			h2 PlanArch Design Services
			p Whatever level of service is required, we seek to provide it on a personalised basis and with whatever level of involvement in the project the client wishes to have. The specific services we can offer are;
		div(class="page-small-cards")
			div(class="small-card text-center")
				div(class="small-card__icon")
					i(class="fas fa-award")
				h4(class="small-card__title") Award Winning Architectural Design Team
			div(class="small-card text-center")
				div(class="small-card__icon")
					i(class="fas fa-city")
				h4(class="small-card__title") Expert Chartered Town Planners
			div(class="small-card text-center")
				div(class="small-card__icon")
					i(class="fas fa-building")
				h4(class="small-card__title") Accredited Energy Assessors for New Build Dwelling
			div(class="small-card text-center")
				div(class="small-card__icon")
					i(class="fas fa-pencil-alt")
				h4(class="small-card__title") Interior Architectural Design
			div(class="small-card text-center")
				div(class="small-card__icon")
					i(class="fas fa-desktop")
				h4(class="small-card__title") Computer Generated Imagery
			div(class="small-card text-center")
				div(class="small-card__icon")
					i(class="fas fa-poll")
				h4(class="small-card__title") Topographical Surveys
		div.page-details
			div.page-details
			ul.page-details-tabs
				li(class="twitter-title", id="js-twitter-title")
					div(class="header-icon")
							i(class="fab fa-twitter")
					h3 Latest tweets from PlanArch Design
					div(class="header-control-button")
						i(class="fas fa-chevron-circle-down")
						i(class="fas fa-chevron-circle-up")
			div(class="page-details-content twitter-iframe-wrapper", id="js-twitter-timeline")
				div.twitter-iframe
					a(class="twitter-timeline" href="https://twitter.com/PlanArchDesign?ref_src=twsrc%5Etfw" data-tweet-limit="3" data-chrome="nofooter noborders noheader") Tweets by PlanArchDesign
					script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
				div.latest-tweet-footer
					a(class="guide-card opened" href="./tweets.html" title="View more tweets from PlanArch Design")
						div(class="guide-card__header")
							div(class="header-icon")
								i(class="fas fa-arrow-circle-right")
							h4 View more tweets