doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title PlanArch Design
		
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="geo.region" content="GB")
		meta(name="geo.placename" content="Bishop Auckland")
		meta(name="geo.position" content="54.664964;-1.673199")
		meta(name="ICBM" content="54.664964;-1.673199")
		meta(name="robots" content="index,follow")
		meta(name="revisit-after" content="7 days")
		META(HTTP-EQUIV="Pragma" CONTENT="no-cache")

		meta(name="description" content="PlanArch Design, Architecture and Town Planning consultants. All Architecutral services, Bishop Aukland, Darlington, Durham, Middlesbrough, Hartlepool, Stockton, Country Durham, North East, North Yorkshire, +441388608166. PlanArch Design provides consultancy in Town Planning and in Architecture. We specialise in ")
		meta(name="keywords" content="PlanArch Design, Architecture and Town Planning consultants. Architecutral services, Architects, Town Planning, Bishop Aukland, Darlington, Durham, Middlesbrough, Hartlepool, Stockton, Country Durham, North East, North Yorkshire, Award Winning Architectural Design Team, Expert Chartered Town Planners, Accredited Energy Assessors for New Build Dwellings, Interior Architectural Design, Computer Generated Imagery, Topographical Surveys, Surveys")

		META(NAME="Author" CONTENT="e-mail@planarchdesign.co.uk")
		META(NAME="Subject" CONTENT="PlanArch Design, Architecture and Town Planning consultants. Bishop Aukland, County Durham, North East")
		META(HTTP-EQUIV="Content-Language" CONTENT="en")
		META(NAME="Rating" CONTENT="Safe for Kids")
		META(HTTP-EQUIV="Content-Type" CONTENT="Business")
		META(HTTP-EQUIV="Content-Style-Type" CONTENT="text/css")
		META(HTTP-EQUIV="Document-Type" CONTENT="Web Page")
		META(HTTP-EQUIV="Document-Class" CONTENT="Completed")
		META(HTTP-EQUIV="Document-Rights" CONTENT="Public")

		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous")
	body
		block header
		block content
		button.scroll-up(title="Back to top", id="js-scroll-up")
			i(class="fas fa-arrow-up")
		block bottomContent
			include bottomContent
		block footer
			include footer
		block scripts
