<nav class="navbar" id="js-navbar">
  <span class="navbar-toggle" id="js-navbar-toggle">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </span>
  <a href="#" class="logo">
    <span class="logo-text">PlanArch Design</span>
    <img src="./img/planarch-design-logo.png" title="PlanArch Design" alt="PlanArch Design Logo" />
  </a>
  <ul class="nav" id="js-nav">
    <li>
      <a href="#" class="nav-links">Home</a>
    </li>
    <li>
      <a href="#" class="nav-links">Projects</a>
    </li>
    <li>
      <a href="#" class="nav-links">Guide</a>
    </li>
    <li>
      <a href="#" class="nav-links">About Us</a>
    </li>
    <li>
      <a href="#" class="nav-links">Contact Us</a>
    </li>
  </ul>
</nav>