//- projects-category.pug
extends layout

block content
	- var currentPath = 'projects-category';
	section(class="page-header small-header", id="js-page-header", data-currentpath=`${currentPath}`)
		include nav
		div(class="page-hero", id="js-pagehero")
			div(class="slider-text-inner text-center")
				h1(id="js-page-hero-title")

	section.page-items
		div.page-details
			ul(class="page-details-tabs breadcrumbs")
				li.breadcrumb
					a(href="./projects.html") Project categories
				li.breadcrumb
					div(class="current-item" id="js-current-breadcrumb")
			div.page-details-content
				div(class="project-category-cards-app" id="js-category-items")
				div(class="project-item-app" id="js-project-item")
