//- projects-category.pug
extends layout

block content
	- var currentPath = 'projects-category';
	section(class="page-header small-header", id="js-page-header", data-currentpath=`${currentPath}`, data-currentcategory="cat")
		include nav
		div(class="page-hero", id="js-pagehero")
			div(class="slider-text-inner text-center")
				h1(id="js-page-hero-title")

	section.page-items
		div.page-details
			ul(class="page-details-tabs breadcrumbs")
					li(class="breadcrumb depth-1")
						a(href="./projects.html")
							i(class="fas fa-arrow-circle-right")
							span Project categories
					li(class="breadcrumb depth-2")
						div(class="current-item" id="js-current-breadcrumb")
			div.page-details-content
				div(class="project-category-cards-app" id="js-category-items")
				div(class="project-item-app" id="js-project-item")
