//- project-item.pug
extends layout

block content
	- var currentPath = 'project-item';
	section(class="page-header small-header", id="js-page-header", data-currentpath=`${currentPath}`)
		include nav
		div(class="page-hero", id="js-pagehero")
			div(class="slider-text-inner text-center")
				h1(id="js-page-hero-title")

	section.page-items
		div.page-details
			ul(class="page-details-tabs breadcrumbs")
				li.breadcrumb
					a(href="./projects.html") Project categories
				li.breadcrumb
					a(href="./projects-category.html" id="js-parent-breadcrumb") Category
				li.breadcrumb
					div(class="current-item" id="js-current-breadcrumb")
			div.page-details-content
				div(class="project-item-carousel" id="js-project-item-carousel") 
				div(class="project-item-info" id="js-project-item-info")
