//- projects.pug
extends layout

block content
	- var currentPath = 'projects';
	section.page-header#js-page-header(data-current-path=`${currentPath}`)
		include nav
		div.page-hero#js-pagehero
			div(class="slider-text-inner text-center")
				h1 Our Projects
				h2 Completed &amp; Conceptual Designs by PlanArch

	section.page-items
		div.page-details
			ul.project-category
				li.project-category__card 
					a(href="./projects-category.html?c=commercial")
						div.project-cover-img(style="background-image: url(./img/bg_2.JPG);")
						div.title 
							h3 Commercial
				li.project-category__card
					div.project-cover-img(style="background-image: url(./img/bg_1.JPG);")
					div.title 
						h3 Conversions
				li.project-category__card
					div.project-cover-img(style="background-image: url(./img/bg_2.JPG);")
					div.title 
						h3 Future Projects
				li.project-category__card
					a(href="")
						div.project-cover-img(style="background-image: url(./img/bg_3.JPG);")
						div.title 
							h3 Residential Development
				li.project-category__card
					div.project-cover-img(style="background-image: url(./img/bg_2.JPG);")
					div.title 
						h3 Bespoke Dwellings
				li.project-category__card
					div.project-cover-img(style="background-image: url(./img/bg_1.JPG);")
					div.title 
						h3 Extensions
				li.project-category__card
					div.project-cover-img(style="background-image: url(./img/bg_3.JPG);")
					div.title 
						h3 Community &amp; Education
