//- about.pug
extends layout

block content
	- var currentPath = 'testimonials';
	section(class="page-header small-header", id="js-page-header", data-currentpath=`${currentPath}`)
		include nav
		div.page-hero#js-pagehero
			div(class="slider-text-inner text-center")
				h1 What Our Customers Say

	section.page-items
		div.page-details
			ul.page-details-tabs
				li
					h2 Client Testimonials
			div.page-details-content
				p Based on testimonials regularly received, we are aware that our clients willingly recommend us, and the great majority of our projects come to us as a result of recommendations or viewings of work previously undertaken. 

			div.page-details-content
				div(class="testimonials-carousel")
					div(class="main-client-testimonials-app" id="js-client-testimonials")
